[submodule "lf-plugins/leaflet-hash"]
	path = lf-plugins/leaflet-hash
	url = https://github.com/mlevans/leaflet-hash.git
[submodule "lf-plugins/L.GeoSearch"]
	path = lf-plugins/L.GeoSearch
	url = https://github.com/smeijer/L.GeoSearch.git
[submodule "lf-plugins/leaflet-layerJSON"]
	path = lf-plugins/leaflet-layerJSON
	url = https://github.com/stefanocudini/leaflet-layerJSON.git
[submodule "lf-plugins/Leaflet.markercluster"]
	path = lf-plugins/Leaflet.markercluster
	url = https://github.com/Leaflet/Leaflet.markercluster.git
